# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/

# Audio files
output.mp3
output_retry.mp3

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db